@import "tailwindcss";

@theme {
  --font-sans: var(--font-public-sans), ui-sans-serif, system-ui, sans-serif;
  --font-weight-black: 700;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #444;
}
